#upload-form {
    width: 25%;
    min-width: 300px;
    padding: 15px;
    background: lightgrey;
    border-radius: 20px;
    margin: 10vmin;
}

#form-container {
    justify-content: center;
    align-content: center;
}

#upload-form h3 {
    text-align: center;
}
